<template>
    <div class="YandexAuth">
        <img class="imgAuthYandex" 
        src="../assets/yandex.svg">
    </div>
    <div class="GoogleAuth">
        <img class="imgAuthGoogle" 
        src="../assets/google.svg">
    </div>


</template>

<script>
export default{
    name: 'SigInForm'
}
</script>

<style>


</style>