<template>
  <div class="app">
    <router-view></router-view>
  </div>

</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
.app{
  width: 100%;
  height: 100%;
  background: #ffffff;
}
body {
  margin: 0;
}
</style>
